.img{
    margin-top: 80px;
    margin-left: 40px;

}

.content{
    padding: 20px;
    overflow: hidden;
    margin: 20px;
}

.content h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.content h5{
    font-size: 18px;
    margin-bottom: 20px;
   
}

.content p{
    margin-bottom: 15px;
  
}

.content li::marker{
   
}

.content p b{
    
   
}


@media (max-width: 600px) {
  
    .img{
        width: 320px;
        height: 192px;
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 695px) and (max-width: 1120px) {
    .img{
        width: 920px;
        height: 492px;
    }
}